:root {
  --header: 84px;
}

html {
  /* scroll-behavior: smooth; */
  /* Prevent in-page anchors overlaping
     by fixed page header */
  /* scroll-padding-top: 83px; */
  font-size: 62.5%; /* 10px */
}

/* Apply a natural box layout model to all 
   elements, but allowing components to change */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: clamp(1.5rem, 0.8949rem + 1.891vw, 3.2rem); /* 320px - 1219px */
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

.container {
  max-width: 121.9rem;
  margin: 0 auto; /* centering */
  padding: 0 clamp(1.5rem, 0.0762rem + 4.4494vw, 5.5rem); /* 320px - 1219px */
}

/* Header
   ========================================================== */

header {
  position: fixed;
  z-index: 50;
  top: 0;
  width: 100%;
  box-shadow: 0 4px 4px #00000040;
  transition: transform 0.1s linear;
}

header::before {
  content: '';
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #007765;
}

header.hide {
  transition: transform 0.3s ease-in;
  transform: translateY(-84px);
}

.header__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--header);
}

.header__logo {
  position: relative;
  z-index: 1;
  flex: 0 0 max(5.75em, 143px); /* 184px / 32px (body) */
}

.header__logo img {
  display: block;
  max-width: 100%;
}

.menu__nav {
  position: relative;
  z-index: 1;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__list .flex {
  display: flex;
  flex-wrap: wrap;
}

.nav-item {
  margin: 0 4px;
  font-size: clamp(1.6rem, 1.3152rem + 0.8899vw, 2.4rem);
}

.nav-item,
.nav-link {
  color: #ffffff;
  text-decoration: none;
}

/* Main
   ========================================================== */

/* Jumbotron section 
   ======================================= */

.jumbotron {
  margin-top: var(--header);
  padding: 5em 0;
  background-image: url('../img/jumbotron/jumbotron.png');
  background-position: center;
  background-size: cover;
}

/* The Problem section 
   ======================================= */

.problem {
  padding: 1.5em 0 clamp(2.5rem, -1.1253rem + 8.4703vw, 9.2rem);
  background-color: #eeeeee;
}

/* Hero section 
   ======================================= */

.hero {
  padding: 2.66em 0;
  font-size: clamp(2.25rem, 1.3423rem + 2.8365vw, 4.8rem); /* 320px - 1219px */
  font-style: italic;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  background-image: url('../img/hero/hero.png');
  background-position: center;
  background-size: cover;
}

/* PiedPiperCoin section 
   ======================================= */

.ppc {
  padding: 1.5em 0 clamp(2.5rem, -1.1253rem + 8.4703vw, 9.2rem);
}

.ppc__logo {
  float: left;
  width: clamp(7rem, 5.3982rem + 5.0056vw, 11.5rem);
  padding-right: clamp(1rem, -0.3526rem + 4.2269vw, 4.8rem);
  padding-bottom: clamp(0.1rem, -1.1102rem + 3.782vw, 3.5rem);
  box-sizing: content-box;
}

.ppc__logo img {
  display: block;
  max-width: 100%;
}

/* Team section 
   ======================================= */

.team {
  padding: 1.5em 0 clamp(1.125rem, -1.7493rem + 8.9822vw, 9.2rem);
  background-color: #eeeeee;
}

.members {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 0.5em; /* 16px / 32px (body) */
}

.team-member {
  margin: 0 0 0.9375em; /* 30px / 32px (body) */
  padding: 0.75em 0 0.875em;
}

.team-member img {
  display: block;
  margin: 0 clamp(3rem, 0.8287rem + 6.7853vw, 9.1rem); /* 320px - 1219px */
}

.team-member__name {
  padding: 12px 0 0;
  font-size: clamp(2rem, 1.8576rem + 0.4449vw, 2.4rem); /* 320px - 1219px */
  font-weight: 700;
  text-align: center;
  color: #007765;
}

.team-member__role {
  padding: 0;
  font-size: clamp(1.4rem, 1.2095rem + 0.5952vw, 1.8rem); /* 320px - 992px */
  font-style: italic;
  font-weight: 400;
  text-align: center;
  color: #000000;
}

/* Footer
   ========================================================== */

footer {
  padding: 1.5em clamp(1.5rem, -10.0684rem + 36.1513vw, 34rem);
  background: #333333;
}

footer .container {
  padding: 0;
}

.copyright {
  display: block;
  font-size: clamp(1.4rem, 1.2576rem + 0.4449vw, 1.8rem); /* 320px - 1219px */
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}

/* Element selectors 
   ======================================= */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: clamp(3.5rem, 2.183rem + 4.1157vw, 7.2rem); /* 320px - 1219px */
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

h2 {
  margin-bottom: 1.6rem;
  font-size: clamp(3rem, 1.7898rem + 3.782vw, 6.4rem); /* 320px - 1219px */
  font-weight: 500;
  text-align: center;
  color: #007765;
}

p {
  margin: 0;
  padding: 0.625em 0; /* 20px / 32px (body) */
}

p:first-of-type {
  padding-top: 0;
}

/* Media
   ========================================================== */

@media (max-width: 62em /* 992px / 16px */) {
}

@media (max-width: 48em /* 768px / 16px */) {
  :root {
    --header: 54px;
  }

  /* html {
    scroll-padding-top: 54px;
  } */

  body.lock {
    overflow: hidden; /* disable scrolling when menu__icon is opened */
  }

  .header__body {
    height: var(--header);
  }

  .jumbotron {
    margin-top: var(--header);
  }

  main::before {
    content: '';
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    transition: background-color 0.3s ease 0s;
  }

  main.cover::before {
    z-index: 1;
    background-color: #000;
  }

  .menu__icon {
    display: block;
  }

  .menu__nav {
    position: fixed;
    z-index: 0;
    top: -100%;
    left: 0;
    width: 100%;
    height: 50%;
    padding: 27px 0 0;
    background-color: #007765;
    box-shadow: 0 4px 4px #00000040;
    transition: top 0.3s ease 0s;
    overflow: auto; /* add scroll when needed */
  }

  .menu__nav.active {
    top: 0;
  }

  .nav__list {
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .nav-item {
    text-align: center;
  }

  .colon {
    display: none;
  }
}

@media (max-width: 40.5em /* 648px / 16px */) {
  .ppc h2 {
    margin-bottom: 8px;
  }

  .ppc__logo {
    float: none;
    padding-right: 0;
    display: inline-block;
  }

  .--center {
    text-align: center;
  }
}

@media (max-width: 26.75em /* 428px / 16px */) {
  .header__logo {
    flex: 0 0 max(5.75em, 130px);
  }
}

@media (max-height: 20em /* 320px / 16px */) and (orientation: landscape) {
  /* .menu__nav {
    padding: 54px 0 0;
  } */

  .nav__list {
    flex-direction: row;
    align-items: center;
  }
}
